@use "components/_header";
@use "components/_footer";

:root {
  --primary-bg-color: #343a40;
  --secondary-bg-color: #1b1e22;
}

html,
body {
  color: white;
  background-color: var(--primary-bg-color);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  min-height: 100vh;
}

#leptos-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

a {
  color: #61dafb;
  text-decoration: none;
  margin: 0 1rem;
}

.server-time {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #2c330aff;
  width: 300px;

  h3 {
    margin: 0 0 10px 0;
  }

  p {
    margin: 0;
  }
}
