html,
body {
  color: white;
  background-color: #343a40;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

header {
  background-color: #1b1e22;
  padding: 1rem;
}

a {
  color: #61dafb;
  text-decoration: none;
  margin: 0 1rem;
}

.server-time {
  // margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #2c330aff;
  width: 300px;

  h3 {
    margin: 0 0 10px 0;
  }

  p {
    margin: 0;
  }
}
