@use "components/_header";
@use "components/_footer";
@use "components/_server-time";

:root {
  --primary-bg-color: #343a40;
  --secondary-bg-color: #1b1e22;
  --footer-text-color: #8c8c8c;
  --link-color: #61dafb;
}

html,
body {
  color: white;
  background-color: var(--primary-bg-color);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  min-height: 100vh;
}

#leptos-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

a {
  color: var(--link-color);
  text-decoration: none;
  margin: 0 1rem;
}
